.editor-main{
    width: -webkit-fill-available;
    height: max-content;
}

.split {
    display: flex;
    height: calc(100vh - 115px);
    overflow: hidden;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
    overflow: hidden;
    z-index: 10;
}

#split-dark .gutter {
    background-color: #2d3748;
}

.gutter.gutter-horizontal,
.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
iframe#webpack-dev-server-client-overlay{display:none!important}