/*
breakpoints: 745px
400px
*/
/*noinspection CssInvalidPropertyValue*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

a{
    color: black;
}
html{
    font-family: JetBrains Mono, Tahoma;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
a{
    text-decoration: none;
}
input {
    font-family: JetBrains Mono, Tahoma;
}
.tl-1 a {
     margin-left: 10px;
}
header{
    width: -webkit-fill-available;
    height: 50px;
    box-shadow: 0px 0px 40px 5px rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    text-transform: uppercase;
    transition: 0.5s;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 10;
}
main{
    width: 1440px;
    height: 2410px;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
}
footer{
    width: auto;
    height: 600px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 25px;
    font-size: 36px;
}
.tl-1{

}
.b{
    display: inline-block;
    overflow: hidden;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    font-size: 24px;
    background: rgb(0,255,255);
    background: linear-gradient(150deg, rgba(0,255,255,1) 0%, rgba(255,0,245,1) 100%);
    transition: all 0.5s ease-in-out!important;
    border-radius: 10px;
}

.a1{
    cursor: default;
}
.a2{
    display: flex;justify-content: center;
}
.a3{
    width: auto; height: 844px;
}
.a4{
    width: auto; height: 422px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.a5{
    width: -webkit-fill-available;height: -webkit-fill-available;
    background: rgb(116,171,254);
    background: linear-gradient(80deg, rgba(116,171,254,1) 0%, rgba(0,102,255,1) 100%);
    border-radius: 30px;text-transform: uppercase; color: white;
    padding-top: 30px; padding-left: 30px;
    font-size: 36px;
}
.a6{
    width: -webkit-fill-available;height: -webkit-fill-available;
}
.a7{
    width: auto; height: 422px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.a8{
    width: -webkit-fill-available;height: -webkit-fill-available;
}
.a9{
    width: -webkit-fill-available;height: -webkit-fill-available;
    background: rgb(255,245,0);
    background: linear-gradient(150deg, rgba(66,253,0,1) 0%, rgba(255,245,0,1) 100%);
    border-radius: 30px; font-size: 36px; padding-right: 30px; padding-top: 30px;text-align-last: end;
}
.a10{
    text-transform: uppercase; height: 105px; text-align: center; font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a11{
    width: auto; height: 500px;background: rgb(51,0,255);
    background: linear-gradient(150deg, rgba(51,0,255,1) 0%, rgba(250,0,255,1) 100%); border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between; color: white;
}
.a12{
    width: -webkit-fill-available; height: -webkit-fill-available;    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; padding-top: 30px;
}
.a13{
    font-size: 48px; margin-bottom: 10px;
}
.a14{
    height: -webkit-fill-available; display: flex; flex-direction: column;padding-top: 70px;
}
.a15{font-size: 28px;

}
.a16{font-size: 20px;
}
.a17{
    width: auto; height: 400px;     display: flex; margin-top: 15px;
    flex-direction: row;
}
.a18{
    text-transform: uppercase; width: -webkit-fill-available; border: 1px solid black; border-radius: 20px;
    padding: 30px;display: flex;
    justify-content: space-between;
    flex-direction: column; font-size: 36px;
}
.a19{
    display: flex;
    justify-content: flex-end;
}
.a20{
    font-size: 36px; text-transform: uppercase; width: -webkit-fill-available; padding-left: 31px; padding-top: 31px;
}
.a21{
    width: auto; height: 40px; background: black; color: white; display: flex; justify-content: center;align-items: center;
}
.b1{
    width: auto;
    height: 500px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.01px solid black;
    border-radius: 20px;
    padding-top: 25px;
    text-align: center;
    justify-content: space-between;
}
.b2{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 100px;
}
.b3{
    font-size: 24px;
}
.b4{
    width: 200px;
    height: 50px;
    margin-bottom: 50px;
    font-size: 26px;
    background: transparent;
    border-radius: 5px;
    outline: transparent;
    border-spacing: 0;
    border: 1px solid black;
}
.b5 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1px;
}
.b6 {
    display: flex;
    flex-direction: row;
    width: -webkit-fill-available;
    height: min-content;
    justify-content: space-between;
}
.b7, .b8, .b9 {
    width: 350px;
    height: 350px;
    background-color: #3300ff;
    border-radius: 10px;
    rotate: 5deg;
    transition: ease-in-out 1s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.b7{
    background: rgb(0,0,255);
    background: linear-gradient(115deg, rgba(0,0,255,1) 0%, rgba(0,100,248,1) 100%);
}
.b8 {
    margin-top: 50px;
    background: rgb(0,100,255);
    background: linear-gradient(115deg, rgba(0,100,255,1) 0%, rgba(0,155,255,1) 100%);
}
.b9 {
    margin-top: 100px;
    background: rgb(0,155,255);
    background: linear-gradient(115deg, rgba(0,155,255,1) 0%, rgba(0,255,245,1) 100%);
}
.b10{
    font-size: 24px;
    margin-top: 20px;
    color: white;
}
.b11{
    width: -webkit-fill-available;
    height: 500px;
}
.b12{
    background: black;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: default;
}
.b13{
    margin-top: 10px;
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}
.b13:hover{

}
.b14, .b15, .b16, .b17{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    transition: 1s ease-in-out;
}
.b20{
    width: 0px;
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: white;
    background: white;
    transition: 1s ease-in-out;
    justify-content: space-between !important;
    mix-blend-mode: difference;
}

.b20-animation-slide-1{
    background: white;
    width: 100%;
    color: black;
}

.b18{
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: flex;
    background: #000000;
    flex-direction: column;
    cursor: default;
}

.b19{
    margin-left: 40px;
}

.b21{
     color: #000000;
}
.b22{
    margin-top: 25px;
    font-size: 32px;
}
.b23{

}
.b24{
    margin-top: 10px;
    width: -webkit-fill-available;
    height: 300px;
    border: 1px solid black;
    font-size: 24px;
    display: flex;
    align-items: flex-end;
}
.b25{
    margin-left: 15px;
    margin-bottom: 15px;
}
.b26{
    width: -webkit-fill-available;
    height: 200px;
    margin-top: 50px;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #1999b2;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 20px;
}
.b27{
    color: white;
}
.b28{
    width: 150px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b28:hover{
    filter: invert(100%);
}
.b29{
    background: #363636;
    width: -webkit-fill-available;
    margin-top: 50px;
    height: 400px;
}
.b30{
    background: black;
    height: 35px;
    width: -webkit-fill-available;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.b31{
    color: white;
    font-size: 22px;
}
.h-1{
    width: -webkit-fill-available;
    min-width: 400px;
}
.h-header {
    width: -webkit-fill-available;
    height: 100px;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white!important;
}
.h-2{
    padding-left: 100px;
    font-size: 32px;
    cursor: default;
}
.h-3{
    padding-right: 100px;
    color: white!important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.h-4 {
    width: 125px;
    height: 40px;
    font-size: 20px;
    border-radius: 5px;
    border: 0;
}
.h-5{
    margin-right: 50px;
}
.h-inner-1{
    width: 1200px;
    height:600px;
    background-color: #ffffff;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
    border-radius: 15px;
    transition: ease-in-out 1s;
}
#popup1{
    transition: ease-in-out 1s;
}
.h-popup-1{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h-popup-1 .h-inner-1{
    margin:40px auto 0px auto;
    padding:10px;
    background-color: #ffffff;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.popup-settings-hide{
    display: none;
}
.popup-settings-show{
    display: flex;
}
.pop-2{
    margin-top: 2.5%;
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    justify-content: center;
}
.pop-3{
    width: -webkit-fill-available;
    height: 50px;
    border: 0;
    border-bottom: 1px solid black !important;
    margin-top: 25px;
    outline: 0;
    font-size: 36px;
}
.pop-4{
    max-width: 300px;
    min-width: 200px;
    margin-top: 20px;
    height: 50px;
    font-size: 32px;
    background: #0064f8;
    border-radius: 10px;
    border: 0;
}
.pop-6{
    color: black;
    margin-top: 50px;
}
.pop-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pop-4:hover{
    background: rgba(0, 100, 248, 0.75);
}
.pop-5{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
    align-items: center;
    vertical-align: bottom;
}
.pop-6{
    width: 200px;
    font-size: 36px;
}
.h-7 a{
    cursor: default;
}
.h-7 a:hover{
    color: #a9a9a9;
}
.h-8{
    width: auto;
    height: 5px;
    background-color: #3300ff;
}
.ha-index{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}
.c-1{
    transition: ease-in-out 1s;
    width: 20%;
    background-color: E1E1E1FF;
    height: 100%;
    min-height: 800px;
    border: 1px solid black;
}
.c-2{
    width: -webkit-fill-available;
    background-color: #e1e1e1;
    height: 100%;
    min-height: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.c-1-hide{
    width: 1%;
}
.c-1-show{
    width: 20%;
}
.c-3{
    width: auto;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 50px;
}

.c-4{
    width: auto;
    max-height: 675px;
    margin-top: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.c-6{
    width: 200px;
    height: 50px;
    margin-left: 50px;
    background: #0064f8;
    color: white;
    border-radius: 10px;
    border: 0;
}
.c-6:hover{
    background: rgba(0, 100, 248, 0.75);
}
.c-7{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.c-8 {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-left: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}
.c-8-launch {
    background: #ffe700;
}
.c-8-running {
    background: #5cff46;
}
.c-8-stopped {
    background: #676767;
}
.c-8-error {
    background: #ff0000;
}
.c-9{
    margin-left: 20px;
}
.c-10{
    width: 200px;
    height: 50px;
    margin-left: 50px;
    background: #0064f8;
    color: white;
    border-radius: 10px;
    border: 0;
}
.c-10:hover{
    background: rgba(0, 100, 248, 0.75);
}
.pop-7{
    width: auto;
    height: 100%;
}
.c-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-right: 5px;
    padding-left: 5px;
    justify-content: space-between;
}
.c-11{
    font-size: 26px;
    margin-bottom: 25px;
}
.c-12{
    width: -webkit-fill-available;
    height: 75px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(91, 41, 152);
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
}
.c-13{
    margin-left: 20px;
    color: white;
}
.a6{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 26px;
}
.a8{
    padding-top: 20px;
    font-size: 26px;
}
.c-14{
    background-color: #000000;
    width: -webkit-fill-available;
    height: 50px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    color: white;
    padding-right: 3px;
}
.c-15{
    width: -webkit-fill-available;
}
footer{
    border-radius: 20px 20px 0px 0px;
}
.tb-1:hover{
    color: black !important;
}
.header-animation-1-elem{
    color: transparent;
    height: 0;
}
.header-animation-1-elem a{
    color: transparent;
}
.header-animation-2-elem{
    color: black;
    height: 50px;
}
.header-animation-2-elem a{
    color: black;
}
.header-animation-1-elem a, .header-animation-2-elem a{
    transition: 0.4s;
}
.c-16{
    display: flex;
    flex-direction: row;
}
.c-17{
    margin-right: 50px;
}
.pop-8{
    width: 100%;
    height: 425px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pop-9{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.h-7, .h-9{
    color: white !important;
    cursor: default;
}
.b28{
    border: 0;
}
@media screen and (max-width: 900px){
    header{
        flex-direction: column;
        height: 55px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .a1{
        font-size: 30px;
    }
    .header-animation-2-elem{
        height: 55px;
    }
    main{
        width: 375px;
        height: 3000px;
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .a4{
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
    }
    .a7{
        flex-direction: column-reverse;
        padding-left: 10px;
        padding-right: 10px;
    }
    .a5, .a6, .a8, .a9{
        max-width: 340px !important;
    }
    .a11{
        flex-direction: column;
        height: 1250px;
    }
    .a17{
        flex-direction: column;
    }
    .a9, .a5{
        font-size: 24px;
    }
    .a14{
        padding-top: 0px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .a22, .a20{
        font-size: 24px;
    }
    .a6{
        padding-top: 25px;
        font-size: 18px;
    }
    .a8{
        padding-top: 25px;
        font-size: 18px;
    }
    .a23{
        font-size: 18px;
    }
    .b7, .b8, .b9 {
        width: 350px;
        height: 150px;
        background-color: #3300ff;
        border-radius: 10px;
        rotate: 5deg;
        transition: ease-in-out 1s;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .b10{
        font-size: 20px;
    }
    .b13{
        font-size: 28px;
    }
    .b19{
        margin-left: 20px;
        font-size: 20px;
    }
    .b21{
        font-size: 18px;
    }
    .b25{
        font-size: 18px;
    }
    .b3{
        word-wrap: break-word;
        word-break: break-all;
        font-size: 20px;
    }
    .b1{
        padding-left: 10px;
        padding-right: 10px;
    }
    main{
        height: 2730px;
    }
}
